body {

    margin: 0px;

}

header{

    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
header img {

    width: 200px;
    margin-top: 10px;
    margin-left: 10px;

}